svg .rectNode {
    stroke-opacity: 0;
    fill-opacity: 0;
}

.draw-state .rectNode {
    stroke-opacity: 1;
    fill-opacity: 1;
}

.edit-state[selected] .rectNode {
    stroke-opacity: 1;
    fill-opacity: 1;
}

    .edit-state[selected] .rectNode:hover {
        cursor: move;
    }
